<p id="notice"><%= notice %></p>

<h1>Crawleds</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crawleds.each do |crawled| %>
      <tr>
        <td><%= crawled.email %></td>
        <td><%= crawled.phone %></td>
        <td><%= link_to 'Show', crawled %></td>
        <td><%= link_to 'Edit', edit_crawled_path(crawled) %></td>
        <td><%= link_to 'Destroy', crawled, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crawled', new_crawled_path %>
